.account-options,
.automation-devices {
  position: relative;
  cursor: pointer;
}
.power-monitor-panel1 {
  width: 249px;
  display: inline-block;
}
.manage-connections,
.power-monitor-panel1 {
  position: relative;
  cursor: pointer;
}
.device-list,
.power-monitor-panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.power-monitor-panel {
  gap: var(--gap-39xl);
}
.device-list {
  gap: 50px;
}
.log-out-from {
  align-self: stretch;
  position: relative;
  cursor: pointer;
}
.f-r-a-m-e,
.f-r-a-m-e-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.f-r-a-m-e {
  align-self: stretch;
  gap: var(--gap-242xl);
}
.f-r-a-m-e-wrapper {
  width: 308px;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.frame-item {
  width: 30px;
  height: 30px;
  position: relative;
  border-radius: 50%;
  background-color: #02a25f;
}
.ellipse-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.monitoring {
  flex: 1;
  position: relative;
}
.frame-parent1 {
  width: 236px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.welcome-back-log1cs {
  align-self: stretch;
  position: relative;
}
.dashboard-title,
.e-s-p-portal-label {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.dashboard-title {
  width: 380px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
  text-align: right;
}
.e-s-p-portal-label {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.information-at-a {
  width: 695px;
  position: relative;
  font-size: var(--font-size-41xl);
  display: inline-block;
  font-family: var(--font-google-sans);
  max-width: 100%;
}
.e-s-p-portal-label-parent,
.frame-section {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.e-s-p-portal-label-parent {
  flex: 1;
  flex-direction: column;
  gap: 81px;
  max-width: calc(100% - 427px);
  font-size: var(--font-size-11xl);
  font-family: var(--font-nitti);
}
.frame-section {
  align-self: stretch;
  flex-direction: row;
  gap: 119px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-7xl);
  color: var(--color-white);
  font-family: var(--font-google-sans);
}
.espportal2 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.portal-name-label,
.user-interface {
  width: 291px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
  box-sizing: border-box;
}
.user-interface {
  width: 100%;
  position: relative;
  background-color: var(--color-black);
  flex-direction: column;
  padding: 81px var(--padding-25xl) var(--padding-33xl) var(--padding-70xl);
  gap: var(--gap-18xl);
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-41xl);
  color: var(--color-white);
  font-family: var(--font-google-sans);
}
@media screen and (max-width: 925px) {
  .f-r-a-m-e-wrapper {
    display: none;
  }
  .monitoring,
  .welcome-back-log1cs {
    font-size: var(--font-size-5xl);
  }
  .e-s-p-portal-label {
    flex-wrap: wrap;
  }
  .information-at-a {
    font-size: var(--font-size-29xl);
  }
  .e-s-p-portal-label-parent {
    gap: 40px;
    max-width: 100%;
  }
  .espportal2 {
    font-size: var(--font-size-29xl);
  }
  .user-interface {
    gap: var(--gap-lg);
    padding-left: var(--padding-25xl);
    padding-right: 22px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 700px) {
  .frame-section {
    gap: 59px;
  }
}
@media screen and (max-width: 450px) {
  .account-options,
  .automation-devices,
  .manage-connections,
  .power-monitor-panel1 {
    font-size: var(--font-size-2xl);
  }
  .power-monitor-panel {
    gap: var(--gap-10xl);
  }
  .device-list {
    gap: 25px;
  }
  .log-out-from {
    font-size: var(--font-size-2xl);
  }
  .f-r-a-m-e {
    gap: var(--gap-111xl);
  }
  .monitoring,
  .welcome-back-log1cs {
    font-size: var(--font-size-lg);
  }
  .information-at-a {
    font-size: var(--font-size-17xl);
  }
  .e-s-p-portal-label-parent {
    gap: var(--gap-xl);
  }
  .frame-section {
    gap: 30px;
  }
  .espportal2 {
    font-size: var(--font-size-17xl);
  }
  .user-interface {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}
